<beans>


<bean id="S3Repository" class="org.entermediadb.amazon.S3Repository" singleton="false">
</bean>
 	

<bean id="S3Connection" class="org.entermediadb.amazon.S3Connection" singleton="false">
		<property name="moduleManager"><ref bean="moduleManager"/></property>

</bean>

<bean id="S3PushManager" class="org.entermediadb.amazon.S3PushManager" singleton="true">
</bean>



<bean id="amazonpublisher" class="org.entermediadb.amazon.amazonpublisher" singleton="true">
</bean>

</beans>

 